html, body {
    overflow-x: auto;
    overflow-y: hidden;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 10px;
    max-width: 100%;
}

.element {
    border: 1px solid #000;
    padding: 6px;
    text-align: center;
    font-size: 20px;
    background-color: #f0f0f0;
}

.alkali-metal {
    background-color: #ff0000;
}

.alkaline-earth-metal {
    background-color: #ffc876;
}

.transition-metal {
    background-color: #f89b11;
}

.post-transition-metal {
    background-color: #cccccc;
}

.metalloid {
    background-color: #cccc99;
}

.noble-gas {
    background-color: #77d5ff;
}

.nonmetal {
    background-color: #adff2f;
}

.lanthanide {
    background-color: #f46af4;
}

.actinide {
    background-color: #f859a8;
}

.halogen {
    background-color: #4ea4fb;
}

.unknown {
    background-color: #e6e6e6;
}

@media (max-height: 600px) {
    .element {
        border: 1px solid #000;
        padding: 1px;
        text-align: center;
     }
    .periodic-table {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        gap: 3px;
        max-width: 100%;
    }
}

.element .symbol {
    font-size: 20px;
    font-weight: bold;
}

.element .name, .element .number, .element .weight {
    font-size: 12px;
}
